# Xcode
.build/
build/
DerivedData/
*.xcuserstate
*.xcuserdatad/
xcuserdata/

# macOS
.DS_Store
*.swp
*~

# Swift Package Manager
.swiftpm/
Packages/
Package.resolved
!DefaultOpener/DefaultOpener.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved

# Compiled app
*.app
