name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: macos-15

    steps:
    - uses: actions/checkout@v4

    - name: Show Xcode version
      run: xcodebuild -version

    - name: Resolve package dependencies
      run: xcodebuild -resolvePackageDependencies -project DefaultOpener/DefaultOpener.xcodeproj

    - name: Build
      run: xcodebuild -scheme DefaultOpener -project DefaultOpener/DefaultOpener.xcodeproj -configuration Release build CODE_SIGNING_ALLOWED=NO CODE_SIGN_ALLOW_ENTITLEMENTS_MODIFICATION=YES
